* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Google Sans Regular";
}

header {
  height: 80px;
  width: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0 100px;
  /*
  border-bottom: 2px solid;
  border-bottom-color: silver;
  */
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: silver;
  padding: 6px;
}

.view_items {
  display: none;
}

.nav-bar {
  z-index: 99999;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: silver;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  color: black;
  background: silver;
}

.nav-bar ul li a.active {
  color: black;
  background: silver;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 900px) {
  .view_items {
    display: block;
    cursor: pointer;
  }
  .view_items .line {
    width: 30px;
    height: 3px;
    background: silver;
    margin: 6px 0;
  }
  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: black;
    transition: 0.2s;
    overflow: hidden;
  }
  .nav-bar.active {
    height: 450px;
  }
  .nav-bar ul {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-bar.active ul {
    opacity: 1;
  }
  .nav-bar ul li a {
    margin-bottom: 12px;
    color: silver;
  }
}
/*yt video above
*/
body {
  background: white;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

form {
  color: black;
  align-items: center;
  justify-content: center;
}

/*
form input{
    margin:2px;
    padding:6px;

    justify-content: center;
    align-items: center;
    font-size: 35px;

}*/
.name {
  margin: 2px;
  padding: 6px;
  height: 50px;
  width: 300px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.radio-button input[type=radio] {
  /*appearance: none;*/
  margin-left: 9px;
  margin-right: 0;
  height: 40px;
  width: 40px;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: absolute;
}

.radio-button label {
  position: relative;
  padding-left: 60px;
  cursor: pointer;
  font-size: 35px;
}

.number-label-div {
  margin-top: 6px;
}

.number-labels {
  margin-left: 120px;
}

.numbers {
  margin: 2px;
  padding: 6px;
  height: 50px;
  width: 150px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

#position_rank {
  margin: 2px;
  padding: 6px;
  height: 50px;
  width: 225px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

#summary {
  margin: 2px;
  padding: 6px;
  font-size: 30px;
  max-width: 95%;
}

.badges-head {
  font-size: 35px;
  text-decoration: underline;
  margin-left: 14px;
}

.badge-container {
  display: flex;
  margin-left: 9px;
  margin-top: 6px;
}

.badge-button input[type=radio] {
  margin-left: 9px;
  margin-right: 0;
  margin-top: 6px;
  height: 30px;
  width: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: absolute;
}

.badge-label {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 45px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: lem;
}/*# sourceMappingURL=Edit_Player.css.map */